h1{
    background: rgb(212,211,255);
    box-shadow: 30px;
font-weight: bold;
text-align: center;
font-size: 55px;

}
a{
    color: black;
}
.nav-item{
    background-color: antiquewhite;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-style: oblique;
    width: 40%;
    
  

}

.categoria{
    width: 4%;
    margin-right: 10px;
}
.producto{
    width: 4%;
    margin-right: 10px;
}
.usuario{
    width: 4%;
    margin-right: 10px;
}
.cesta{
    width: 4%;
    margin-right: 10px;
}