<h1><a routerLink="/">{{title}}</a></h1>

<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" routerLink="/categorias"><img class="categoria" src="../assets/lineas-de-opciones.png">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos"><img class="producto" src="../assets/incienso.png">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/usuarios"><img class="usuario" src="../assets/usuario-de-perfil.png">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/cesta"> <img class="cesta" src="../assets/tienda.png">Cesta</a>
    </li>
  </ul>

<router-outlet>

</router-outlet>
