<h1>{{title}}</h1>

<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/categorias">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/productos">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuarios">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/cesta">Cesta</a>
    </li>
  </ul>

<router-outlet>

</router-outlet>
